@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* General */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background: #fac87d;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}

.txt-shadow {
  text-shadow: 2px 2px #f00, 4px 4px #00f;
}

.btn {
  background: #4f95ff;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  padding: 7px 40px;
}

/* Navbar */
.nav {
  width: 100vw;
  height: 8vh;
  background: #ffcf88;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  color: #ff9900;
  font-weight: 700;
}

.nav h1 a {
  margin: 5px 10px;
  color: #ff9900;
}

.nav ul {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: row;
  list-style-type: none;
  margin: 10px;
}

.nav ul li a {
  color: #ff9900;
  margin: 10px;
}

/* Hero */
.hero {
  height: 60vh;
  background-image: url("./pexels-vinicius-benedit-1082342.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  background-color: #fac87d;
}

.hero h1 {
  margin: 0;
  text-shadow: 0px 2px 15px #000;
}

.hero p {
  font-size: 14px;
  margin: 0;
  margin-bottom: 20px;
}

/* Truck */
.truck-wrap {
  background: #fac87d;
}

.truck {
  background: #fff;
  width: 300px;
  height: 600px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15px auto;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%), 0 6px 20px 0 rgb(0 0 0 / 9%);
}

.truck p,
.truck h2 {
  width: 70%;
}

.truck img {
  height: 25vh;
  border-radius: 5px;
}

/* Meny cards */
.meny-wrap {
  display: flex;
  align-items: center;
  justify-items: center;
  text-align: center;
  flex-direction: column;
  background: #fac87d;
}

.meny-h1 {
  color: #ff9900;
  text-align: center;
  font-size: 42px;
  margin-top: 50px;
  margin-bottom: 0;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  height: 420px;
  width: 350px;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%), 0 6px 20px 0 rgb(0 0 0 / 9%);
  margin: 20px auto;
}

.card p {
  width: 80%;
}

/* About */
.loka-wrap {
  background: #fac87d;
  color: #ff9900;
}

.loka-wrap h2 {
  margin: 0;
  padding: 10px;
  font-weight: 700;
}

iframe {
  width: 100vw;
}

.phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90vw;
  border-radius: 3px;
  background: #fff;
  height: 70vh;
  margin: 20px auto;
  color: #ff9900;
}

.phone p {
  margin-bottom: 20px;
}

.phone a {
  color: #4f95ff;
  text-decoration: underline;
}

.open {
  border: dotted #ff9900 2px;
  padding: 10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: rgba(0, 0, 0, 0.623);
  color: #fff;
  height: 3vh;
}

footer a {
  text-decoration: underline;
  color: #4f95ff;
}

/* Media queries */
@media (min-width: 768px) {
  .hero {
    height: 94vh;
  }
  .hero h1 {
    font-size: 48px;
  }
  .hero p {
    font-size: 18px;
  }
  .truck {
    width: 900px;
    height: 700px;
  }
  .truck img {
    height: 50vh;
  }
  .meny-wrap {
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vw;
    margin: auto;
  }
  .phone {
    width: 60vw;
    height: 65vh;
  }
  .loka-wrap h2 {
    font-size: 32px;
  }
  .lokasjon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
  }
  iframe {
    height: 80vh;
    width: 90vw;
    margin: auto;
  }
  .nav h1 a {
    font-size: 38px;
  }
  .nav li {
    font-size: 18px;
  }
}
